/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* Base */

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}/*end reset*/

/*HTML genral*/
html {
  font-family: 'Lato', 'Nunito', Didact Gothic, CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 1.5em;
  line-height: 1.222em;
  /*background-color:  #424949;*/
  color: white;
  padding-top: 0.3em;
	text-align: center;
}

.body{
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-blend-mode: color-dodge;
  background-image: url(images/background2_.png);
  color: white;
}

/* for links */
a:link {
    text-decoration: none;
		color: #FFFF81;
}

a:visited {
    text-decoration: none;
		color: #FFFF81;
}

a:hover {
    text-decoration: none;
		color: #ff3300;
}

a:active {
    text-decoration: underline;
		color: red;
}

h1 {
  font-size: 2.5em;
  margin-top: 0.3em;
  margin-left: 0.3em;
}

p{
  margin: 0.3em;
}

/* Layout */

.logo{
  display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 0.5em;
	max-width: 20%;
	text-align: center;
}

/*nav bar*/
.navigation{
  text-align: center;
  list-style-type: none;
  margin: 0.3em;
  overflow: hidden;
  color: #a13b90;
  display: inline;
	float: none;
  border: none;
	background-color: none;
	padding: 0.4em;
	border-radius: 0.4em;
	/* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
 }

 li .navigation {
  text-align: center;
 	display: inline-grid;
	padding-top: 1em;
	padding-bottom: 1em;
 }

/*~~~index (home) page~~~*/
/*arrows are button links on index.html pg*/
.arrow{
  margin: 1em;
  text-align: center;
}
/* each indv button */
.arrow1{
  float: none;
  text-align: center;
 	display: inline-grid;
  border: none;
	background-color: #1e1e23; /*#5d6d7e;*/
	cursor: pointer;
	padding: 0.7em;
	border-radius: 0.4em;
  -webkit-transition-duration: 0.4s;
	/* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 1.1em;
}
.arrow1:hover {
  background-color: #2e4053;
}

/* This is the short description on the index page (tagline)*/
#tag{
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: 3em;
	margin-right: 3em;
	/*max-width: 60%;*/
	text-align: left;
	border: hidden;

}

#topEmail{
	float: right;
	text-align: right;
	color: #1e1e23;
	font-size: 0.7em;
	margin: 0.3em;
}


/*~~~Resume~~~*/


/*download resume*/
#download{
	color: red;
	text-align: center;
 	display: inline-grid;
  border: solid;
	background-color: #1e1e23; /*#5d6d7e;*/
	cursor: pointer;
	padding: 0.7em;
	border-radius: 0.4em;
	/* Safari */
  cursor: pointer;
}

.resumeHeaders{
	text-align: center;
	margin-left: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* education */
#edu{
	text-align: center;
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
	margin-right: 0.5em;
	margin-top: 0.3em;
	margin-bottom: 0.2em;
}

.edu{
	text-align: center;
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
	margin-top: 0.3em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	margin-bottom: 1.5em;
	text-align: center;
	float: left;
}

.eduPics{
	max-width: 50%;
}

#gtb{
	margin-bottom: 1.8em;
	margin-top: 1.7em;
}

/* skills */
.skillsList{
	text-align: center;
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
	margin-top: 0.3em;
	margin-left: 4em;
	margin-right: 4em;
	margin-bottom: 1.5em;
	text-align: center;
}

.skillName{
	font-size: 1.1em;
}

.skillsList1{
	text-align: center;
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
	margin-top: 0.3em;
	margin-left: 4em;
	margin-right: 4em;
	margin-bottom: 1.5em;
	text-align: center;
}

.skill{
	margin: 0.5em;
	padding: 0.2em;
	border: solid;
	border-color: gray;
	border-radius: 0.4em;
	-webkit-transition-duration: 0.2s;
	/* Safari */
	transition-duration: 0.2s;
	cursor: pointer;
	}
	.skill:hover {
		opacity: 0.5;
	background-color: #2e4053;
	}


/*~~~About Me~~~*/


#pic{
	max-width: 30%;
	max-height: 30%;
	float: right;
	margin: 2em;
	border: solid;
	/*background-color: #33333a; #5d6d7e;*/
	border-radius: 0.4em;
	color: black;

}

#bio{
	color: gray;
	font-style: italic;
}

#about{
	margin: 1em;
	font-size: 0.8em;
}

.about{
	padding: 0.5em;
	text-align: left;
	line-height: 1.2em;
}


/*~~~ My work~~~*/


#work{
	margin-top: 1.3em;
}
.work{
	color: teal;
	text-align: center;
 	display: inline-grid;
  border: solid;
	/*background-color: #33333a; #5d6d7e;*/
	cursor: pointer;
	padding: 3em;
	maxa-width: 20%;
	border-radius: 0.4em;
	-webkit-transition-duration: 0.4s;
	/* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 1.1em;
}

.work:hover{
	background-color: #1e1e23;
}


/*~~~ Contact Me page ~~~*/


.reach{
	text-align: center;
}
#emailForm{
	display: inline-block;
	border: 0.2em solid black;
	border-radius: 0.1em;
	background-color: teal;
	color: white;
}
.contact {
	margin: 1em;
}

input[type=text], input[type=email] {
	display: inline-block;
	border: 0.2em solid #99FFFF;
	border-radius: 0.1em;
	box-sizing: border-box;
	background-color: #cbffef;
	color: black;
	padding-right: 8em;
}

input:focus{
	background-color: #a9cce3;
}

#message{
		width: 100%;
    min-height: 100%;
		padding-left: 0.2em;
		padding-right: 3.8em;
		padding-top:0.2em;
		padding-bottom: 3.8em;
    box-sizing: border-box;
    resize: both;
		text-align: left;
		display: inline-block;
		border: 0.2em solid #99FFFF;
		border-radius: 0.1em;
		background-color: #cbffef;
		color: black;
}

#message:focus{
	background-color: #a9cce3;
}

#sendEmail{
	width: 100%;
}

#findMe{
	color: gray;
	font-style: italic;
	text-align: right;
	margin-right: 0.5em;
	margin-top: 0.5em;
}

#socialMedia{
	text-align: center;
  list-style-type: none;
  overflow: hidden;
  display: inline;
	margin-right: 0.5em;
	margin-top: 0.3em;
	margin-bottom: 0.2em;
	float: right;
}
.socials{
	text-align: center;
  list-style-type: none;
  display: inline;
	margin:0.2em;
}
